*~
*#
#*
/target
/classes
/checkouts
/data/*
!/data/demo
!/data/demo/*
/data/demo/results/*
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
*.DS_Store
figwheel_server.log
/resources/public/js/compiled
data/demo/validation/
.idea/*
*.RData
*.Rhistory
.Rproj.user
*.ipynb_checkpoints